@{
    var id = ViewContext.RouteData.Values["id"].ToString();
    ViewBag.Title = "Question " + id;
}

<div class="container">

    <h2>@ViewBag.Title of 15</h2>


    @using (Html.BeginForm("Answer", "Home", FormMethod.Post))
    {
        <input type="hidden" name="id" value="@id" />
        
        string question = "Questions/" + id;
        Html.RenderPartial(question);
        
        <button class="btn btn-default" type="submit" >Submit Answer</button>

        <div class="validation-summary-valid" data-valmsg-summary="true">
            <ul><li style="display:none"></li></ul>
        </div>
    }

</div>