@{
    ViewBag.Title = "Question " + ViewContext.RouteData.Values["id"];
}
<h2>@ViewBag.Title</h2>

@{
    switch (id)
    {
        case "1":
            <text>
                <h1>Test Site</h1>
            </text>
            break;
        case "2":
            <text>
                <h1>Prod Site</h1>
            </text>
            break;
        case "3":
            <text>
                <h1>Test Site</h1>
            </text>
            break;
        case "4":
            <text>
                <h1>Prod Site</h1>
            </text>
            break;
        case "5":
            <text>
                <h1>Test Site</h1>
            </text>
            break;
        case "6":
            <text>
                <h1>Prod Site</h1>
            </text>
            break;
        case "7":
            <text>
                <h1>Test Site</h1>
            </text>
            break;
        case "8":
            <text>
                <h1>Prod Site</h1>
            </text>
            break;
        case "9":
            <text>
                <h1>Test Site</h1>
            </text>
            break;
        case "10":
            <text>
                <h1>Prod Site</h1>
            </text>
            break;
        case "11":
            <text>
                <h1>Test Site</h1>
            </text>
            break;
        case "12":
            <text>
                <h1>Prod Site</h1>
            </text>
            break;
        case "13":
            <text>
                <h1>Test Site</h1>
            </text>
            break;
        case "14":
            <text>
                <h1>Prod Site</h1>
            </text>
            break;
        case "15":
            <text>
                <h1>Test Site</h1>
            </text>
            break;
        default:
            <text>
                <h1>This Shouldn't Happen</h1>
            </text>
            break;
    }
}

<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
