<p>Identify the frequency.</p>
<p>
    <audio controls>
        <source src="@Url.Content("~/Content/sound.wav")" type="audio/wav">
    </audio>
</p>

<ul class="list-unstyled">
    <li>
        <label>
            <input type="radio" name="ans" value="a"
                   data-val="true" data-val-required="This field is required." /> 5 Hz
        </label>
    </li>
    <li>
        <label>
            <input type="radio" name="ans" value="b"
                   data-val="true" data-val-required="This field is required." /> 50 Hz
        </label>
    </li>
    <li>
        <label>
            <input type="radio" name="ans" value="c"
                   data-val="true" data-val-required="This field is required." /> 500 Hz
        </label>
    </li>
    <li>
        <label>
            <input type="radio" name="ans" value="d"
                   data-val="true" data-val-required="This field is required." /> 5 KHz
        </label>
    </li>
</ul>
